:root {
  --background-color: #252730;
  --red-player-color: #ff2222;
  --yellow-player-color: #ffff00;
  --green-player-color: #00ff00;
  --blue-player-color: #2266ff;
  --purple-player-color: #8822ff;
}

@font-face {
    font-family: 'Montserrat-Bold';
    src: url('/Montserrat-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
  
#body {
  background-color: var(--background-color);
  color: White;
  font-family: 'Montserrat-Bold', sans-serif;
}

#center_div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#buzz_list_div {
    width: 400px;
    font-size: 25px;
    text-align: center;
}

.player {
    padding: 10px 20px;
    margin: 10px;
    border: 5px groove;
    border-radius: 5px;
    animation-duration: 7s;
    animation-timing-function: cubic-bezier(0.1, 0.8, 0.1, 0.8);
  }
  
  .red-player {
    border-color: var(--red-player-color);
    animation-name: red-text-fade;
  }
  
  
  @keyframes red-text-fade {
    0% {
      background-color: var(--red-player-color);
    }/*
    20% {
      background-color: color-mix(in srgb-linear, var(--red-player) 40%, var(--background));
    }*/
    100% {
      background-color: var(--background-color);
    }
  }
  
  .yellow-player {
    border-color: var(--yellow-player-color);
    animation-name: yellow-text-fade;
  }
  
  @keyframes yellow-text-fade {
    0% {
      background-color: var(--yellow-player-color);
    }
    100% {
      background-color: var(--background-color);
    }
  }
  
  .green-player {
    border-color: var(--green-player-color);
    animation-name: green-text-fade;
  }
  
  @keyframes green-text-fade {
    0% {
      background-color: var(--green-player-color);
    }
    100% {
      background-color: var(--background-color);
    }
  }
  
  .blue-player {
    border-color: var(--blue-player-color);
    animation-name: blue-text-fade;
  }
  
  @keyframes blue-text-fade {
    0% {
      background-color: var(--blue-player-color);
    }
    100% {
      background-color: var(--background-color);
    }
  }
  
  .purple-player {
    border-color: var(--purple-player-color);
    animation-name: purple-text-fade;
  }
  
  @keyframes purple-text-fade {
    0% {
      background-color: var(--purple-player-color);
    }
    100% {
      background-color: var(--background-color);
    }
  }
  