#events_div {
  display: none;
  width: 400px;
  height: 800px;
  border: 3px groove var(--text-color);
  float: left;
}

#reset_button {
  color: white;
  width: 300px;
  height: 100px;
  font-size: 35px;
  margin-top: 30px;
  margin-bottom: 20px;
  border-style: solid;
  border-width: 7px;
  border-radius: 7px;
  cursor: pointer;
  font-family: 'Montserrat-Bold', sans-serif;
  border-color: var(--current-player-color);
  background-color: color-mix(in srgb-linear, var(--current-player-color) 10%, var(--background-color))
}

#reset_button:hover {
  background-color: color-mix(in srgb-linear, var(--current-player-color) 20%, var(--background-color))
}

#reset_button:active {
  background-color: color-mix(in srgb-linear, var(--current-player-color) 5%, var(--background-color))
}
